.cards-section {
    background-color: #10111f;
    /* padding: 8rem 2rem; */
    color: white;
}

 body{
            background-color: var(--gray-900);
}

.cards-container {
    width: 92%;
    /* max-width: 1100px; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

.cards__item {
    position: relative;
    height: 240px;
}

.cards__image {
    width: 100%;
    height: 100%;
}

.cards__button {
    position: absolute;
    font-size: var(-fs-xxxs);
    top: 50%;
    left: 40%;
    border: none;
    border-radius: 40px;
    background-color: var(--primary-600);
    color: var(--black);
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
}

@media (width > 768px) {
    .cards-container {
        width: 70%;
        padding-top: 10vh;
        grid-template-columns: repeat(3, 1fr);
    }

    .cards__item {
        height:320px;
    }
}


/* TEXTO DE ABAJO TEXTO COMPANIES INVOLED */

.cards-text-botton__text1,
.cards-text-botton__text2 {
    font-size: 48px;
    margin: 0;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-text-botton__text2 {
    color: var(--tertiary-500);
}

@media (width > 768px) {
    .cards-text-botton__text1,
    .cards-text-botton__text2 {
        font-size: 100px;
        text-align: center;
    
    }
    .cards-text-botton__text1{
        color: transparent;
        -webkit-text-stroke: 1px var(--white);
    }
    .cards-text-botton__text2{
        padding-left: 40vh;
    }
    .cards-text-botton{
        font-family: 'Montserrat', sans-serif;
        padding-top: 30vh;


    }
}



